	body {
	    font-family: Verdana, Helvetica, sans-serif;
	    background-color: #FFFFF0;
	}

        @font-face {
                font-family: 'oldnews';
                src: url('../../OldNewspaperTypes.ttf') format('truetype');
        }
        @font-face {
                font-family: 'moms';
                src: url('../../Moms_typewriter-webfont.ttf') format('truetype');
        }
        div{
                margin : 10px;
                border : 5px;
        }

        textarea {
		border:none;
        }
